SOAMetricsQueryServiceImpl/src/main/resources/META-INF/metrics/schema/SOAMetricsQueryServiceProviderConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!--  Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.            -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");   -->
<!--  you may not use this file except in compliance with the License.  -->
<!--  You may obtain a copy of the License at                           -->
<!--                                                                    -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                     -->
<!-- ================================================================== -->
<schema targetNamespace="http://www.ebayopensource.org/turmeric/services/logging/v1/config"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/services/logging/v1/config">
    <element name="metrics-query-service-provider-config" type="tns:SOAMetricsQueryServiceProviderConfig"/>
    	
    <complexType name="SOAMetricsQueryServiceProviderConfig">
    	<sequence>
    		<element name="default" type="token"></element>    	
     		<element name="provider-config-list" type="tns:SOAMetricsQueryServiceProviderList"/>
    	</sequence>
    </complexType>
    <complexType name="SOAMetricsQueryServiceProviderList">
    	<sequence>  	
     		<element name="provider-config" type="tns:SOAMetricsQueryServiceProvider" 
     		minOccurs="1" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    <complexType name="SOAMetricsQueryServiceProvider">
    	<sequence>
    		<element name="name" type="token"></element>
    		<element name="provider-impl-class-name" type="token" />
    		<element name="options" type="tns:option"></element>
    	</sequence>
    </complexType>
	

    <complexType name="option">
    	<attribute name="name" type="string"></attribute>
    </complexType>
</schema>
